{% extends 'base.html' %}

{% block content %}

{% if user and not user.is_anonymous %}
<p>
    <!-- TODO: full repo list here -->
    Hello {{ user.get_full_name|default:user.username }}!
</p>

{% else %}
<div style="width: 300px; margin-left: auto; margin-right: auto;">
    <ol>
        <li><a href="{% url 'social:begin' 'github' %}?next=/">Login with Github</a></li>
        <li>Select your organisation and repositry</li>
        <li>Export issues as Excel</li>
    </ol>
</div>
{% endif %}

{% endblock %}
