/* Headings */

h1{
    text-align: center;
    margin-bottom: 30px;
}

/* Table */

td, th{
    padding: 10px;
}

th{
    background-color: #dddddd;
}

.row2 {
    background-color: #f2f4f7;
}

/* Form styling */

.limit-width{
    width: 500px;
}

.errorlist{
    list-style: none;
    font-weight: bold;
    color: red;
    padding-left: 0;
}

.error input{
    border-color: red;
}

input[type=text], input[type=password], textarea{
    width: 500px;
}

.issue-accept-controls{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.issue-accept-controls form{
    float: left;
    padding: 5px;
}

#filter-status{
    float: left;
    padding-right: 30px;
}

#filter-status ul{
    padding-left: 0;
    list-style: none;
}

#filter-status ul li{
    background-color: #d8dce2;
    padding: 10px;
    border-radius: 15px;
    margin: 0 0 10px 0;
}

/* Flash message styling */

.messages{
    padding-left: 0;
    list-style: none;
    border: 1px dashed gray;
}

.messages li{
    padding: 15px;
}

.success{
    background-color: #b8f29d;
}
