/* Table styling */

td, th{
    padding: 10px;
}

th{
    background-color: #cecec4;
}

.row2 {
    background-color: #f7f7e8
}

/* Form styling */

.limit-width{
    width: 500px;
}

.errorlist{
    list-style: none;
    font-weight: bold;
    color: red;
    padding-left: 0;
}

.error input{
    border-color: red;
}

input[type=text], input[type=password], textarea{
    width: 500px;
}

.issue-accept-controls{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.issue-accept-controls form{
    float: left;
    padding: 5px;
}

/* Flash message styling */

.messages{
    padding-left: 0;
    list-style: none;
    border: 1px dashed gray;
}

.messages li{
    padding: 15px;
}

.success{
    background-color: #b8f29d;
}
