/* Table styling */

td, th{
    padding: 10px;
}

th{
    background-color: #cecec4;
}

.row2 {
    background-color: #f7f7e8
}

/* Form styling */

.errorlist{
    list-style: none;
    font-weight: bold;
    color: red;
    padding-left: 0;
}

.error input{
    border-color: red;
}

input[type=text], input[type=password], textarea{
    width: 500px;
}

/* Flash message styling */

.messages{
    padding-left: 0;
    list-style: none;
    border: 1px dashed gray;
}

.messages li{
    padding: 15px;
}

.success{
    background-color: #8cff84;
}
