{% extends "base.html" %}

{% block page_title %}
All Issues
{% endblock %}

{% block content %}

<form method="get" action="">
    <label for="id_status">Status</label>
    {{ status_form.status }}
    <input type="submit" value="Filter" />
</form>
<br/>

<table border="1">
    <thead>
        <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td>
                <a href="{% url 'issue_details' issue.number %}">
                    #{{ issue.number }}
                </a>
            </td>
            <td>
                <a href="{% url 'issue_details' issue.number %}">
                    {{ issue.title }}
                </a>
            </td>
            <td>
                {{ issue.created_at }}
            </td>
            <td>
                {{ issue.status }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
