{% extends "base.html" %}

{% block page_title %}
{{ issue.title }}
{% endblock %}

{% block content %}

<!--
TODO: gray out
-->
{% ifnotequal False previous %}
<span class="prev">
    <a href="{{ previous.pk }}">&#10094; Previous</a>
</span>
{% else %}
<span class="prev">&#10094; Previous</span>
{% endifnotequal %}

{% ifnotequal False next %}
<span class="next">
    <a href="{{ next.pk }}">Next &#10095;</a>
</span>
{% else %}
<span class="next">Next &#10095;</span>
{% endifnotequal %}

<div class="main">
<p>
<!--
TODO: bring in Avatar
-->
<strong>Reported on:</strong> {{ issue.created_at }} by {{ issue.reported_by }}<br/>
<strong>Status:</strong> {{ issue.status }}<br/>
<strong>Number:</strong> {{ issue.pk }}</strong><br/>
<strong>Body:</strong> {{ issue.body }}</strong><br/>

<!--
TODO:
If not an image show the attachment logo
-->
{% if issue.attachment %}
    {% ifequal True attached_image %}
    <img class="issue-image" src="{{ MEDIA_URL }}{{ issue.attachment }}" />
    {% else %}
    <a target="_launch" href="{{ MEDIA_URL }}{{ issue.attachment }}">
        <img width="30px" src="{{ STATIC_URL }}images/paperclip.png" />
        {{ issue.attachment }}
    </a>
    {% endifequal %}
{% endif %}

<!--
Comments (if any)
-->
</p>
</div>

{% if issue.status.name == 'New' %}
    {% if request.user.is_staff %}
        <div class="issue-accept-controls">
            <form method="post">{% csrf_token %}
                <input type="hidden" value="3" name="status" />
                <input type="submit" value="Needs Dicussion" class="btn-lg btn-primary" />
            </form>

            <form method="post">{% csrf_token %}
                <input type="submit" value="Accept" class="btn-lg btn-success" />
                <input type="hidden" value="2" name="status" />
            </form>
        </div>
    {% else %}
        <a href="{% url 'edit_issue' issue.pk %}">
            <button class="btn btn-primary">Edit</button>
        </a>
    {% endif %}
{% endif %}

{% endblock %}
