{% extends "base.html" %}

{% block page_title %}
{{ issue.title }}
{% endblock %}

{% block content %}

<!--
<a href="">Previous</a>
<a href="">Next</a>
-->

<p>
<!--
Reported by: {{ issue.reported_by }}<br/>
TODO: bring in Avatar
-->
<strong>Reported on:</strong> {{ issue.created_at }}<br/>
<strong>Status:</strong> {{ issue.status }}<br/>
<strong>Body:</strong> {{ issue.body }}</strong>
<!--
Comments (if any)
-->
</p>

{% if issue.status.name == 'New' %}
    {% if request.user.is_staff %}
        <form id="issue-discuss" method="post">{% csrf_token %}
            <input type="submit" value="Needs Dicussion" />
            <input type="hidden" value="3" name="status" />
        </form>

        <form id="issue-accept" method="post">{% csrf_token %}
            <input class="priority" type="submit" value="Accept" />
            <input type="hidden" value="2" name="status" />
        </form>
    {% else %}
        <a href="{% url 'edit_issue' issue.pk %}">
            <button>Edit</button>
        </a>
    {% endif %}
{% endif %}

{% endblock %}
